:root {
  font-size: 16px;
}
.navbar-link {
  font-size: 1.1rem;
  padding: 0 0.3rem;
  text-decoration: none;
  font-weight: 500;
  padding: 0.2rem 0.5rem;
  background-color: #a5a07c;
  border-radius: 0.3rem;
  color: rgb(137, 136, 138);
  transition: 0.3ms;
}
.navbar-link:hover {
  color: #fff;
}
.active {
  color: #111;
}

.link-active {
  font-size: 0.8rem;
  padding: 0.2rem 0.6rem;
  text-decoration: none;
  color: #a5a07c;
}
.l-active {
   color:#fff
}
