:root {
  --bg-dark: #090b0b;
  --bg-dark-soft: #1a1d23;

  --cadet-grey: #a4a9ad;
  --yamin-blue: #445e93;
  --white: #f1f2f6;
  --font-default: 12px;

  --color-w: var(--white);
  --color-d: var(--bg-dark);
}

// Colors
$dark: var(--bg-dark);
$dark-soft: var(--bg-dark-soft);

$cadet-grey: var(--cadet-grey);
$anti-flash-white: var(--white);

$yamin-blue: var(--yamin-blue);

//font
